
    .image-container {
      
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(28, 4, 4, 0.5);
  transition: all 0.3s ease-out;
}

.image-container img {
  display: block;
  max-width: 100%;
  height: auto;
  transform: scale(1);
  transition: all 2s ease-out;
}

.image-container:hover {
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.6);
  transform: translateY(-5px);
}

.image-container:hover img {
  transform: scale(1.1);
}

    header {
      background-image: url("img/background.jpeg");
       /* background: linear-gradient(to right, #ffa0e9, #10000c);
      color: white;
      padding: 10px;
      border-bottom: 3px solid black;*/
     }

body{
  
    background-image: url("img/audiobackground.jpeg");
 /* background: linear-gradient(to bottom right, #eac0ddcd, #030002);
  font-family: Arial, sans-serif;*/
}

    nav {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
    }
    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    nav li {
      display: inline-block;
      margin-right: 20px;
    }
    nav li:last-child {
      margin-right: 0;
    }
    nav a {
      color: rgb(255, 255, 255);
      text-decoration: none;
    }
    
    .aim {
      
      background: linear-gradient(to bottom, #8b8489, #14010b);
      color: rgb(4, 19, 14);
      padding: 20px;
      margin: 20px;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      text-align: center;
         
    }
    .aim h1{
      font-family:bold 1.8Georgia, 'Times New Roman', Times, serif;
      color: rgb(11, 0, 10);
      font-size: 2.9rem;
      font-weight: 900; 
      text-shadow: 0 0 2px #85c8f3, 0 0 2px #fdf6f6, 0 0 2px #eb8181; 

    }
  
    .aim h4 {
      text-align: center;
      font-family:Arial, Helvetica, sans-serif;
      color: rgb(245, 250, 245);
    }
    .container {
      display: flex;
      justify-content: space-between;
      /*border: 1px solid #ddd;
      padding: 20px;
      background: linear-gradient(135deg, #e44e8d, #a64ac9, #ae0286, #f7c5f0, #0f000c);*/
    }
    
    
    .box {
      flex-basis: calc(50% - 10px);
      box-sizing: border-box;
      padding: 20px;
      background: linear-gradient(135deg, #e44e8d, #c00db4, #170112, #f7c5f0, #0f000c);
      border: 5px solid #ffffff;
      border-radius: 10px;
      transition: all 0.3s ease-in-out;
    }
    
    .box:hover {
      transform: translateY(-5px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    
    .box h2 {
      font: italic 2.5em "Fira Sans", serif;
      color: #fcfcfc;
      font-weight: 900;
      text-shadow: 0 0 2px #12010c, 0 0 2px #fdd1f3, 0 0 2px #000;
      margin-bottom: 15px;
      margin-top: 15px;
      /* Set the heading color to white */
    }
    
    
    
    .butn {
      display: block;
      background: linear-gradient(45deg, #ee52d7, #170108, #f082cb, #0d0207);
      background-size: 100% 100%;
      border-radius: 50px;
      border: 4px solid #f5f4f4;  
      font: italic 1.2em "Fira Sans", serif;
      color: #ffffff;
      font-weight: 900;
      text-shadow: 0 0 2px #faeaf4, 0 0 2px #fdd1f3, 0 0 2px #000;
      width: 140px;
      padding: 12px 18px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      transition: all 0.3s ease-in-out;
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
      margin: auto; /* Set margin to auto */
    }
    
    
    
    .butn:hover {
      background-color: #0062cc;
      background-position: 100% 0;
      color: #fff;
      transform: translateY(-2px);
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
      text-shadow: 0 0 20px rgba(255, 255, 255, 1);
    }
    
   
   /* .get-started-button {
      display: block;
      margin: 0 auto;
    }
    
    .get-started-button {
      display: block;
      background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      border-radius: 50px;
      border: 4px solid #f5f4f4;  Add a white border with 2px width 
      color: #fff;
      font-size: 28px;
      font-weight: 700;
      padding: 25px 50px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      transition: all 0.3s ease-in-out;
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }
    
    .get-started-button:hover {
      background-position: 100% 0;
      color: #fff;
      transform: translateY(-2px);
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
      text-shadow: 0 0 20px rgba(255, 255, 255, 1);
    }
    */
    header {
      background-color: black;
      color: white;
      padding: 10px;
      border-bottom: 3px solid black;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    nav ul li a {
      display: block;
      color: #fff;
      padding: 10px 15px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      transition: all 0.3s ease-in-out;
      background-color: #333;
      position: relative;
    }
    
    nav ul li a:hover {
      background-color: #666;
    }
    
    nav ul li a::before {
      content: "";
      position: absolute;
      width: 0%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #fff;
      transition: all 0.3s ease-in-out;
    }
    
    nav ul li a:hover::before {
      width: 100%;
    }
    
    /*#contact-us {
      background-color: #f1f1f1ba;
      margin: 2 auto;
      margin-top: 30px;
      display:block;
      padding: 30px;
      text-align: center;
    }
    
    #contact-us h2 {
      font-size: 2.5em;
      margin-bottom: 30px;
    }
    
    #contact-us form {
      max-width: 300px;
      margin: 0 auto;
    }
    
    #contact-us label {
      display: block;
      margin-bottom: 10px;
      font-size: 1.2em;
      font-weight: bold;
      text-align: left;
    }
    
    #contact-us input[type="text"],
    #contact-us input[type="email"],
    #contact-us textarea {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      margin-bottom: 20px;
      font-size: 1.1em;
    }
    
    #contact-us button[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 1.1em;
      cursor: pointer;
    }
    
    #contact-us button[type="submit"]:hover {
      background-color: #3e8e41;
    }
    */
    .container-feature {
      justify-content: center;
      align-items: center;
      height: 100vh; /* adjust the height as needed */
    }
    
    .feature {
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      width: 700px;
      height: 700px;
      padding: 20px;
      background: linear-gradient(135deg, #381932, #080006, #aaa6aa, #580020);
      border: 5px solid #ffffff;
      border-radius: 10px;
    
      margin: 18px auto; /* center horizontally and add margin on top and bottom */
      perspective: 1000px; /* add a perspective value for 3D effect */
      transition: transform 2s ease-in-out; /* add a transition for the transform property */
    }
    
    .feature:hover {
      transform: translateY(-10px) rotateY(180deg); /* add the rotateY transform on hover */
      box-shadow: 0 0 40px rgb(196, 195, 195);
      transform: translateY(-5px);
      transform: scale(1.1);
  
    }
    
    .feature h1 {
      background: linear-gradient(45deg, #610120, #050002, #cccccc);
      background-size: 100% 100%;
      border-radius: 50px;
      border: 5px solid #f5f4f4;   
      color: #fff;
      font-weight: 700;
      padding: 25px 50px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      text-align: center;
      font: bold 2.5em "Fira Sans", serif;
      align-self: center;
      text-align: center;
      color: #ffffff;
      font-weight: 800;
      /*font: bold 2.5em "Fira Sans", serif;
      align-self: center;
      text-align: center;
      color: #ffffff;
      font-weight: 400;
      animation: glow 1s ease-in-out infinite alternate;
    }
    
    @keyframes glow {
      from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6;
      }
      to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
      }
    
    */
    }
    
    .feature h2 {
      
      font: italic 1.4em "Fira Sans", serif;
      color: #fcfcfc;
      font-weight: 400;
      text-shadow: 0 0 2px #12010c, 0 0 2px #5f0723, 0 0 2px #45021a;
      margin-bottom: 15px;
      margin-top: 15px;
      /* Set the heading color to white */
    }
    
    
    .text-blk {
      margin-top: 5px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      line-height: 25px;
    }
    
    .responsive-cell-block {
      min-height: 75px;
    }
    
    .responsive-container-block {
      min-height: 75px;
      height: fit-content;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-top: 15px;
      margin-right: auto;
      margin-bottom: 0px;
      margin-left: auto;
      justify-content: space-evenly;
    }
    
    .outer-container {
      padding-top: 10px;
      padding-right: 50px;
      padding-bottom: 10px;
      padding-left: 50px;
      background-color: rgb(244, 252, 255);
    }
    
    .inner-container {
      max-width: 1320px;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      margin-right: auto;
      margin-bottom: 50px;
      margin-left: auto;
    }
    
    .section-head-text {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 5px;
      margin-left: 0px;
      font-size: 35px;
      font-weight: 700;
      line-height: 48px;
      color: rgb(0, 135, 177);
      margin: 0 0 10px 0;
    }
    
    .section-subhead-text {
      font-size: 25px;
      color: rgb(153, 153, 153);
      line-height: 35px;
      max-width: 470px;
      text-align: center;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 60px;
      margin-left: 0px;
    }
    
    .img-wrapper {
      width: 100%;
    }
    
    .team-card {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .social-media-links {
      width: 125px;
      display: flex;
      justify-content: space-between;
    }
    
    .name {
      font-size: 25px;
      font-weight: 700;
      color: rgb(102, 102, 102);
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 5px;
      margin-left: 0px;
    }
    
    .position {
      font-size: 25px;
      font-weight: 700;
      color: rgb(0, 135, 177);
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 50px;
      margin-left: 0px;
    }
    
    .team-img {
      width: 100%;
      height: 100%;
    }
    
    .team-card-container {
      width: 280px;
      margin: 0 0 40px 0;
    }
    
    @media (max-width: 500px) {
      .outer-container {
        padding: 10px 20px 10px 20px;
      }
    
      .section-head-text {
        text-align: center;
      }
    }
    
   
    .meet-the-team {
      border: 4px solid #ffffff; /* Added border property */
      border-radius: 5px; /* Added border radius */
      height: 500px;
      background: linear-gradient(to bottom, #242125, #f08ce4); /* Added background gradient */
      color: #ffffff;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    h2 {
      text-align: center;
      font-size: 3rem; /* Increased font size */
      margin-top: 50px; /* Added margin top */
      letter-spacing: 2px; /* Added letter spacing */
      text-shadow: 2px 2px #333; /* Added text shadow */
      font: italic 3.8em "Fira Sans", serif;
      color: #ffffff;
      font-weight: 900;
      text-shadow: 0 0 2px #faeaf4, 0 0 2px #fdd1f3, 0 0 2px #000; 
  

    }
    
    
    .continer {
      max-width: px;
      margin: 0 15px;
      padding: 10px 2px;
    }
    
    
    
    .team-members {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    
    .team-member {
      width: calc(25% - 20px);
      text-align: center;
      margin-bottom: 25px;
    }
    
    .team-member img {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 20px;
    }
    
    .team-member h1 {
      font-size: 1.8rem;
      margin-bottom: 11px;
    }
    
    .team-member p {
      font-size: 1.2rem;
      color: #888;
    }
    .social-media-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 50px;
    }
    
    .social-media-links a {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-left: 1px;
      width: 50px;
      height: 30px;
      margin: 5px 10px; /* Updated margin property */
      margin-right: 5px;
      
    }
    
    
    .social-media-links a:hover {
      transform: translateY(-5px);
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    }
    
    .social-media-links img {
      width: 30px;
      height: 30px;
    }
    
   